body {
  margin: 0px;
  font-family: Arial, sans-serif;
}
.header {
  display: flex;
  justify-content: space-around;
  background-color: #466983;
  padding-bottom: 10px;
  padding-top: 10px;
 }
 .logo {
  height: 150px;
  border-radius: 50%;
 }

 .n_and_y {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
 }
 .schoolname {
  font-size: 40px;
  font-weight: bolder  ;
  margin-bottom: none;
  padding-bottom: 0%;
 }
 .schoolhigh {
  font-size: 30px;
  font-weight: bolder  ;
  margin-bottom: none;
  padding-bottom: 0%;
 }
 .schoolyear {
  font-size: 20px;
  font-weight: bold  ;
  font-style: italic;
  margin-top: none;
 }

 .main_button {
  display: flex;
  height: 50px;
  
 }

 .strand,
 .award,
 .adviser,
 .memories {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  border: none;
  width: 25%;
  background-color: #329d9c;
  border-style: solid;

 }
 .adviser {
  background-color: #56c596;
  border-color: #56c596;
 }
 .display {
  background-color: #56c596;
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .display_adviser {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
 }

 .thankyou_msg {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  width: 80%;
  background-color: aliceblue;
  box-shadow: 10px 10px 15px rgba(3, 3, 3, 0.5),  -10px -10px 15px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 20px;
  text-shadow: 5px 5px 8px #466983;
  
  }

 .adviser_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  padding-bottom: 0px;
  margin: 30px;
  border-radius: 5px;
  background-color: rgb(211, 225, 240);
  box-shadow: 10px 10px 15px rgba(3, 3, 3, 0.5),  -10px -10px 15px rgba(0, 0, 0, 0.5);
 }
 
 .adviser_image {
  height: 300px;
 }
 .adviser_name {
  font-size: 18px;
  margin: 0;
 }
 .section_name {
  font-size: 15px;
  margin: 0;
 }

 /*------------------------responsive style------------------------*/
    
/*------------------------responsive style max width 324------------------------*/
    
@media (max-width: 324px) {
  body {
    width: 100%;
  }
  .header {
    padding-bottom: 3px;
    padding-top: 3px;
  }
  .logo {
  height: 50px;
  border-radius: 50%;
  }
  .schoolname {
    font-size: 12px;
  }
  .schoolhigh {
    font-size: 10px;
  }
  .schoolyear {
    font-size: 8px;
  }
  .main_button {
    height: 20px; 
  }
  .strand,
  .award,
  .adviser,
  .memories {
    font-size: 12px;
    border: 1px;
    border-style: solid;
  }
  .adviser {
    background-color: #56c596;
    border-color: #56c596;
  }
  .thankyou_msg {
    font-size: 8px;
    font-weight: 700;
    width: 80%;
    background-color: aliceblue;
    box-shadow: 5px 5px 9px rgba(3, 3, 3, 0.5),  -5px -5px 9px rgba(0, 0, 0, 0.5);
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 5px;
    text-shadow: 2px 2px 4px #466983;
  }
  .adviser_div {
    padding: 6px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(211, 225, 240);
    box-shadow: 5px 5px 9px rgba(3, 3, 3, 0.5),  -5px -5px 9px rgba(0, 0, 0, 0.5);
  }
  .adviser_image {
    height: 120px;
  }
   .adviser_name {
    font-size: 12px;
    margin: 0;
  }
   .section_name {
    font-size: 10px;
    margin: 0;
  }
}
/*------------------------responsive style max width 445------------------------*/

@media (min-width: 325px) and (max-width: 445px) {
  .header {
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .logo {
  height: 60px;
  border-radius: 50%;
  }
  .schoolname {
    font-size: 15px;
  }
  .schoolhigh {
    font-size: 13px;
  }
  .schoolyear {
    font-size: 11px;
  }
  .main_button {
    height: 25px; 
  }
  .strand,
  .award,
  .adviser,
  .memories {
    font-size: 12px;
    border: 1px;
    border-style: solid;
  }
  .adviser {
    background-color: #56c596;
    border-color: #56c596;
  }
  .thankyou_msg {
    font-size: 10px;
    font-weight: 700;
    width: 80%;
    background-color: aliceblue;
    box-shadow: 5px 5px 9px rgba(3, 3, 3, 0.5),  -5px -5px 9px rgba(0, 0, 0, 0.5);
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 5px;
    text-shadow: 2px 2px 4px #466983;
  }
  .adviser_div {
    padding: 6px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(211, 225, 240);
    box-shadow: 5px 5px 9px rgba(3, 3, 3, 0.5),  -5px -5px 9px rgba(0, 0, 0, 0.5);
  }
  .adviser_image {
    height: 150px;
  }
   .adviser_name {
    font-size: 13px;
    margin: 0;
  }
   .section_name {
    font-size: 11px;
    margin: 0;
  }
}